/* Ajustes Gerais */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 21px;
  margin-bottom: 50px;
}


/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-button {
  display: none;
  float: right;
}

header img {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #1e8ac8;
}

header ul {
  list-style: none;
}

.topnav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 80px;
  background-color: #1e8ac8;
}

a {
  font-size: 30px;
  font-weight: 200;
  margin: 18px;
  text-decoration: none;
  color: white;
}


/* Banners */

#banner {
  display: flex;
  max-width: 1024px;
  max-height: 360px;
}

.banners img {
  width: 100%;
}


/* Promoções */

.imagens-promocoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagens-promocoes img {
  border-radius: 10px;
}

.imagens-promocoes h2 {
  margin-bottom: 10px;
}


/* Lista Escolar */

#lista-escolar img {
  width: 350px;
  height: 350px;
  margin: 32px;
  border-radius: 100%;
  box-shadow: 1px 1px 10px 5px #d7d7d7;
}

#lista-escolar img:hover {
  transform: scale(1.1, 1.1);
}

.resultado {
  position: relative;
  z-index: -1;
  margin: 40px 15%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 20px #d7d7d7;
}

.hidded {
  display: none;
}

.resultado p, h2 {
  text-align: center;
}

.resultado h2 {
  margin-bottom: 0;
  padding: 20px;
  color: black;
}

.resultado ul {
  padding: 0 25%;
}

.imagens-escolas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.active {
  border-width: 2px;
  border-style: solid;
  border-color: #f22e3b;
}


/* A Papelaria */

#a-papelaria p {
  margin: 0 40px;
  padding-bottom: 20px;
  text-align: justify;
}

.fundo-do-texto {
  margin: 40px 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 5px #d7d7d7;
}


/* Onde Estamos e Contato */

.MasterSectionContato {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 100px;
}


/* Onde Estamos */

.ondeEstamos {
  width: 700px;
}

.iframe {
  width: 500px;
  margin: 0 auto;
}


/* Contato */

.FormBackground {
  width: 450px;
  height: 250px;
  margin: 0 auto 20px;
  color: white;
  border-radius: 10px;
  background-color: #f22e3b;
}

.divForm {
  margin: 0 auto;
  padding: 20px 0 0 20px;
}

.divForm input {
  width: 96%;
  height: 20px;
  border-style: none;
  border-radius: 2px;
}

.divForm textarea {
  width: 96%;
  height: 20px;
  border-style: none;
  border-radius: 2px;
}

.background {
  position: relative;
  align-content: center;
  width: 450px;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #1e8ac8;
}

.background ul {
  list-style: none;
}

.background li {
  padding-left: 30px;
  text-align: center;
}

.horario {
  position: relative;
  width: 400px;
  padding: 15px 300px 0 90px;
  color: white;
}

#relogio {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 10px 0 0 30px;
}

#submit {
  height: 20px;
  border-style: none;
  border-radius: 2px;
  background-color: white;
}


/* Footer */

footer i:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.85;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #1e8ac8;
}

footer p {
  margin-left: 5px;
}

footer .fa {
  margin: 10px;
}

footer a {
  font-size: 16px;
  margin: 10px;
  color: #fff;
}


/* Media Query para Mobiles */

@media only screen and (max-width: 600px) {
  .menu-button {
    float: right;
  }
  /* General */
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
  img {
    width: 310px;
    height: 310px;
  }
  /* Header */
  header {
    position: relative;
  }
  header img {
    display: none;
  }
  .imagens-promocoes img {
    border-radius: 10px;
  }
  #lista-escolar img {
    width: 310px;
    height: 310px;
  }
  .resultado {
    margin: 40px 15px;
  }
  .fundo-do-texto {
    margin: 40px 15px;
  }
  .ondeEstamos {
    display: none;
  }
  a {
    font-size: 18px;
    margin: 3px;
  }
  .topnav {
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
  }
  .MasterSectionContato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


/* Media Query para Tablets */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  a {
    font-size: 18px;
    margin: 0;
  }
  .topnav {
    height: 60px;
  }
  .ondeEstamos {
    display: none;
  }
  header img {
    width: 60px;
    height: 60px;
  }
  .MasterSectionContato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
